# for additional pywaggle install options, see: https://github.com/waggle-sensor/pywaggle#installation-guides
{% if cookiecutter.template == "vision" -%}
pywaggle[vision]
{%- else -%}
pywaggle
{%- endif %}
