{%- if cookiecutter.base_image == "Waggle AI / ML" -%}
pywaggle[all]
{%- elif cookiecutter.base_image in ["Waggle Minimal", "Python 3.11"] -%}
# for more info on additional pywaggle components, see: https://github.com/waggle-sensor/pywaggle#installation-guides
pywaggle
{% endif %}
